@tailwind base;
@tailwind components;
@tailwind utilities;

.fraunces {
    font-family: 'Fraunces', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.montserrat500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}